<!DOCTYPE html>
<html>

<!-- <body background="E:\Velocity\Flask\Flask Iris with HTML pages\flower1.jpg"></br> -->
<body bgcolor="#c3a3cf">

<center>
<h2> Predict Diabetes </h2>


<form action="/predict" method='POST'>
  
  <label for="Glucose">Glucose:</label><br>
  <input type="text" id="Glucose" name="Glucose" value="0"><br><br>

  <label for="BloodPressure">BloodPressure:</label><br>
  <input type="text" id="BloodPressure" name="BloodPressure" value="0"><br><br>

  <label for="SkinThickness">SkinThickness:</label><br>
  <input type="text" id="SkinThickness" name="SkinThickness" value="0"><br><br>
  
  <label for="Insulin">Insulin:</label><br>
  <input type="text" id="Insulin" name="Insulin" value="0"><br><br>

  <label for="BMI">BMI:</label><br>
  <input type="text" id="BMI" name="BMI" value="0"><br><br>

  <label for="DiabetesPedigreeFunction">DiabetesPedigreeFunction:</label><br>
  <input type="text" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" value="0"><br><br>

  <label for="Age">Age:</label><br>
  <input type="text" id="Age" name="Age" value="0"><br><br>

  <input type="submit" value="Submit">
</form> 
</center>
</body>
</html>
